<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>218636172845-402mv9ubun0tn8cebksecuk02mitcf3h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.218636172845-402mv9ubun0tn8cebksecuk02mitcf3h</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>218636172845-hjkl870rirks67956cjmcfgfjbc71shm.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDhXxv7q7fFbFbVlXi52-cDkeNsF0VgXPI</string>
	<key>GCM_SENDER_ID</key>
	<string>218636172845</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.coapp</string>
	<key>PROJECT_ID</key>
	<string>coapp-c3d65</string>
	<key>STORAGE_BUCKET</key>
	<string>coapp-c3d65.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:218636172845:ios:cf14e8334e38385b</string>
	<key>DATABASE_URL</key>
	<string>https://coapp-c3d65.firebaseio.com</string>
</dict>
</plist>